footer{
	margin-top: 80px;
	background: $light_blue;
	
	color: #fff;
	a{
		text-decoration: none;
		color: #fff;
	}
	.first{
		padding: 25px 0;
		h3, h4{
			margin-bottom: 10px;
		}
		ul.links{
			li{
				display: block;
				padding: 2px 0;
				a{
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
	@media (max-width: 745px) {
		.grid_3{
			width: 50%;
			margin: 0 0 2% 0;
		}
		.first{
			h4{
				margin-bottom: 5px;
			}
			ul.links{
				margin-bottom: 15px;
			}
		}
	}
	.last{
		background: $blue;
		padding: 12px 0;
		p, .grid_6{
			margin: 0;
		}
	}
}