
.main-header-navigation{
	position: relative;
	background: #fff;
	width: 100%;
	z-index: 55;
	.top_header{
		padding: 25px 0 25px;
	}
	.logo{
		width: 50%;
		max-width: 212px;
	}
	.float-right{
		float: right;
	}
    .menu-btn{
    	float: right;
    	font-size: 35px;
    	margin-top: 23px;
		display: block;
		top: 0; right: 30px;
		margin-top: 0;
		height: 85px;
		line-height: 85px;
    	&:hover{
    		color: $light_blue;
    	}
    }


    @media (max-width: 745px) {
		position: relative;
		width: 100%;
		border-bottom: 1px solid $light_blue;
		background: #fff;
		padding: 10px 30px 6px;
		height: 85px;
		-webkit-backface-visibility: hidden;
    	-webkit-transform: translateZ(0);
		.logo{
			max-width: 150px;
			img{
				width: 100%;
			}
		}
		.top_header{
			padding: 0;
			.container{
				width: 100%;
			}
		}
		.menu-btn{
			position: absolute;
			display: block;
			top: 0; right: 30px;
			margin-top: 0;
			height: 85px;
			line-height: 85px;
		}
    }
    @media (max-width: 475px) {
		padding: 10px 15px 6px;
		.menu-btn{
			right: 15px;
		}
    }
}
@media (max-width: 600px) {
	body.admin-bar{
		#wpadminbar{
			display: none !important;
		}
	}
}
.site-name{
	padding: 30px 0;
	display: block;
	float: left;
	
	.sub-title{
		color: red;
	}
}
@media (min-width: 926px) {
	body.page-scrolled,
	body.sticky-header{
		.main-header-navigation{
			box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
			background: #fff;
			.menu-btn{
				.fa{
					top: 10px;
				}
			}
			img{
				top: 15px;
				width: 160px;
				margin-left: -80px;
			}
			ul.profile-links {
				margin-top: 7px;
			}
		}
	}
}
.menu-logo {
  padding: 15px 0 15px 0;
  width: 100%;
  background: #fff;
  img{
  	width: 200px;
  	margin: 20px 25px;
  }
}
.menu-close-cover {
	position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
  opacity: .4;
  background: #000;
  display: none;
}
#wrapper {
	margin-right: 0;
	min-height: 100%;
	width: 100%;
	right: 0;
	
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
	    -ms-transition: all .5s ease;
	     -o-transition: all .5s ease;
	        transition: all .5s ease;
}

#push_sidebar {
	width: 300px;
}
body.show_sidebar{
	#push_sidebar {
		-moz-transform: translateX(0px);
	    -webkit-transform: translateX(0px);
	    -o-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	    transform: translateX(0px);
	}
	.menu-close-cover {
	  	display: block;
	}
	
} 


#push_sidebar {
    display: block;
    background: #fff;
    height: 100%;
    bottom: 0;
    color: #000;
    -moz-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    transform: translateX(-300px);
      overflow-x: hidden;
  	overflow-y: hidden;
    position: fixed;
    top: 0;
    z-index: 555;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
	a {
	  color: #000;
	  text-decoration: none;
	  -moz-transition: all .2s ease;
	  -o-transition: all .2s ease;
	  -webkit-transition: all .2s ease;
	  transition: all .2s ease;
	}
	.site-name{
		padding: 30px;
	}
	.social-links {
		bottom: 20px;
		left: 20px;
		margin: 20px 0 0 20px;
	  	li {
		  margin: 0 5px 0 0;
		  list-style-type: none;
		}
		a {
			width: 30px;
			color: $dark_blue;
			&:hover {
				color: #000;
			}
		}
		.fa{
			font-size: 18px;
			padding-top: 6px;
		}
	}
	.contact {
		margin: 20px 0 40px 0;
	    padding: 0 20px;
	    small{
    	    color: $dark_blue;
    		font-weight: bold;
	    }
	    a{
	    	color: $dark_blue;
	    	&:hover{
				color: #000;
			}
	    }
	}
    #header{
      	width: 100%;
      	height: 100%;
      	border-right: none;
      	position: relative;
		background: transparent;
		font-size: 14px;
		.site-navigation {
			width: 100%;
			height: auto;
			float: none;
			max-width: 100%;
			margin: 0;
			text-align: left;
			li{
				display: block;
				padding: 10px 0 10px 20px;
				border-top: 1px solid #ddd;
    			background: #FFF;
				position: relative;
    			font-weight: bold;
    			-moz-transition: all .2s ease;
				-o-transition: all .2s ease;
				-webkit-transition: all .2s ease;
				transition: all .2s ease;
				
    			&:hover{
    				background: #000;
    				a{
    					color: #fff;
    				}
    			}
				a{
					display: block;
					margin: 0;
					color: #000;
					&:after,
					&:before{
						display: none;
					}
				}
			}
			&.big-mobile{
				li a{
					font-size: 16px;
				}
			}
		}
	}
} 


.menu-close {
	position: absolute;
	top: 16px;
	right: 16px;
	font-size: 20px;
	color: #000;
	cursor: pointer;
  	&:hover {
  		right: 20px;
	}
}
body.admin-bar {
	.menu-close{
		top: 36px;
	}
	#push_sidebar .header-mobile{
		padding-top: 32px;
		@media (max-width: 600px) {
			padding-top: 0;
		}
	}
}

.scroll-top{
	position: fixed;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 666;
	line-height: 52px;
	font-size: 35px;
	text-align: center;
	color: #fff;
	background: #1a1a1a;
	-webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);

}

.portfolio-filter{
	margin-bottom: 15px;
	position: relative;
	.number-projects-showing{
		position: absolute;
		right: -15px;
		top: -15px;
		display: block;
		width: 60px;
		height: 60px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		text-align: center;
	    color: #ECECEC;
	    line-height: 58px;
	    background: #FFF;
	    font-size: 40px;
	    font-family: 'Solano-Bold';
	    border: 1px solid #F5F5F5;

	}
	ul{	
		border: 1px solid #ddd;
		border-radius: 3px;
		display: inline-block;
		vertical-align: baseline;
		zoom: 1;
		*display: inline;
		*vertical-align: auto;
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
		li{
			float: left;
			display: block;
  			border-left: 1px solid #d2d2d2;
  			font-size: 12px;
  			.number-projects-showing{
				display: none;
			}
  			a{
  				padding: 8px 14px;
  				display: block;
  				&.current,
				&:hover{
					background: #FBFBFB;
					color: red;
				}
				&:focus {
				    outline: 0;
				}
				&.current + .number-projects-showing{
					display: block;
					@media (max-width: 750px) {
				    	display: none;
				    }
				}
  			}
  			&:first-child {
			  	border-radius: 3px 0 0 3px;
			  	border-left: none ;
			}
			&:last-child {
			  	border-radius: 0 3px 3px 0;
			}

		}
		@media (max-width: 750px) {
			border: none;
			li{
				border: 1px solid #ddd !important;
				margin: 0 3px 3px 0;
				font-size: 11px;
				background: #fff;
				border-radius: 3px !important;
			}
		}
		@media (max-width: 475px) {
			display: none;
		}
	}
}