
html {
  height: 100%;
  @media (max-width: 959px) {
        @media (max-width: 767px) {
            @media (max-width: 479px) {
            }
        }
    }
}
body {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow-x: hidden;

  background: #ffffff; /* Old browsers */
 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-family: Helvetica, Arial, "lucida grande",tahoma,verdana,arial,sans-serif;
  font-weight: 100;
  line-height: 140%;
  font-size: 14px;
  
  @media (max-width: 475px) {
    font-size: 12px;
    line-height: 150%;
  }
}
html.no_scroll,
body.no_scroll{
  overflow: hidden;
}
#wrapper {
  height: 100%;
  position: relative;
}

.site-main{
  height: 100%;
}
