$light_blue: #43b4e4;
$dark_blue: #1d3c6d;
$blue: #0085af;
$green: #a8cf41;


@import "generic.normalize";
@import "generic.box-sizing";
@import "generic.reset";

@import "functions.all";
@import "functions.grid";

@import "components.site-nav";
@import "components.footer";

@import "settings.global";

@import "fonts.font-awesome";
